<header class="border-bottom">
    <div class="container">
        <nav class="d-flex flex-wrap justify-content-center py-3 navbar">
            <a routerLink="home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img class="bi me-2" width="64" height="64" src="../../../assets/siteLogo.png" alt="logo">
                <h1 style="font-size: large;" class="fs-4">{{ 'пальцем в небо'.toUpperCase() }}</h1>
            </a>
    
            <ul class="nav nav-pills">
                <li class="nav-item"><a routerLink="/create-event" routerLinkActive="active" class="nav-link">Создать</a></li>
                <li class="nav-item"><a routerLink="/home" class="nav-link" routerLinkActive="active">Главная</a></li>
                <li class="nav-item"><a routerLink="/loves" class="nav-link" routerLinkActive="active">Избранное</a></li>
            </ul>
        </nav>
    </div>
</header>