<header class="border-bottom header">
    <nav class="d-flex flex-wrap justify-content-center py-3 navbar">
        <a routerLink="home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="bi me-2" width="64" height="64" src="../../../assets/favicon.png" alt="logo">
            <span class="fs-4">{{ 'пальцем в небо'.toUpperCase() }}</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="create-event" routerLinkActive="active" class="nav-link">Создать мероприятие</a></li>
            <li class="nav-item"><a routerLink="home" class="nav-link active" routerLinkActive="active">Главная</a></li>
            <li class="nav-item"><a routerLink="loves" class="nav-link" routerLinkActive="activeLove">Избранное</a></li>
        </ul>
    </nav>
</header>