<article>
    <div class="col-lg-9 m-auto">
        <div class="card mb-4">
            <a [href]="post.link" target="_blank"><img class="card-img-top" [src]="post.img" [alt]="post.title"></a>
            <div class="card-body">
                <div class="small text-muted">Когда начнется:{{ post.date }}</div>
                <h2 class="card-title">{{post.title}}</h2>
                <p class="card-text">{{post.description}}</p>
                <a class="btn btn-primary" [href]="post.link" target="_blank">Мне интересно...</a>
            </div>
        </div>
    </div>
</article>